@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

:root {
    margin: 0;
    font-size: 10px;
}

@media (min-width: 1376px) {
    :root {
        font-size: 10px;
    }
}

body {
    margin: 0;
    padding: 0;
}
section.content {
    padding: 5.2rem 1rem 11.6rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1376px) {
    section.content {
        padding: 12.8rem 0 11.6rem;
    }
}

.text-container {
    margin-bottom: 6rem;
    max-width: 57.6rem;
    margin: 0 auto 6.4rem;
}

@media (min-width: 1376px) {
    .text-container {
        display: flex;
        max-width: 92.8rem;
    }
}

.text-container h1, .imgs figcaption span {
    font-family: 'PT Serif', serif;
}

.text-container h1 {
    font-weight: 700;
    font-size: 3.4rem;
    margin-bottom: 4rem;
}

@media(min-width: 1376px){
    .text-container h1{
        letter-spacing: -.2rem;
        font-size: 3.6rem;
    }
    .text-container h1, .text-container .right-col {
        width: 49.6rem;
    }
}

.text-container h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: calc(1rem - 16px);
}

@media(min-width: 1376px) {
    .text-container h2 {
        font-size: 1.76rem;
    }
    .text-container h1, .text-container h2 {
        margin-top: 0;
    }
}

.text-container p {
    font-size: 1.4496rem;
}

@media (min-width: 1376px) {
    .text-container h2, .text-container p {
        margin-right: 7.6rem;
        margin-left: 0.4rem;
    }
    .text-container p {
        font-size: 1.8rem;
    }
}

.imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 2.8rem;
    padding: 0;
    /* margin: 0 0 0 1rem; */
    max-width: 57.6rem;
    margin: 0 auto;
    padding: 0 2.8rem 0 0.4rem;
}

img {
    width: 14rem;
    height: 20.8rem;
    margin-bottom: -1rem;
}

figure {
    margin: 0 auto; 
    position: relative
}

/* @media (min-width: 576px) {
    figure {
        margin: 0 auto;
    }
} */

/* .imgs figure:nth-child(1),
.imgs figure:nth-child(3),
.imgs figure:nth-child(5) {
    padding-left: 1rem;
}

.imgs figure:nth-child(2),
.imgs figure:nth-child(4),
.imgs figure:nth-child(6) {
    padding-right: 2.8rem;
} */

.imgs figure figcaption h3 {
    text-transform: capitalize;
    font-size: 1.4rem;
}

.imgs figure figcaption span {
    text-transform: uppercase;
    position: absolute;
    /* right: 1.2rem; */
    left: 14.8rem;
    top: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.imgs figure:nth-child(2), 
.imgs figure:nth-child(4), 
.imgs figure:nth-child(6), 
.imgs figure:nth-child(2) span, 
.imgs figure:nth-child(4) span, 
.imgs figure:nth-child(6) span {
    padding-top: 4.8rem;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 4.4rem 2rem;
    color: #A9A9A9;
    display: block;
    text-align: center;
}

footer span {
    text-decoration: underline;
    font-weight: 700;
}